#tanda1{
    margin-top: -4%;
    
}

  // EXTEND
%tanda1{
    z-index: 1;
    max-width: 20%;
    border-radius: 80%  0% 70% 0%;
    opacity: 0.7;
    margin-top: 2%;
}
%hoverr{
    cursor: pointer;
    opacity: 1;
    z-index: 2;
        -moz-transform: scale(1.6) rotate(305deg) translate(14px, -7px) skew(-40deg, 37deg);
        -webkit-transform: scale(1.6) rotate(305deg) translate(14px, -7px) skew(-40deg, 37deg);
        -o-transform: scale(1.6) rotate(305deg) translate(14px, -7px) skew(-40deg, 37deg);
        -ms-transform: scale(1.6) rotate(305deg) translate(14px, -7px) skew(-40deg, 37deg);
        transform: scale(1.6) rotate(305deg) translate(14px, -7px) skew(-40deg, 37deg);
        transition: 0.5s;
}

  // FIN EXTEND

.img1{
    @extend %tanda1;
    &:hover{
        
        @extend %hoverr;
    }
}

.img2{
    @extend %tanda1;
    &:hover{
        @extend %hoverr;
    }
}

.img3{
    @extend %tanda1;
    &:hover{
        @extend %hoverr;
    }
}



#tanda2{
    margin-top: -8%;
}

.img4{
    @extend %tanda1;
    &:hover{
        @extend %hoverr;
    }
}

.img5{
    @extend %tanda1;
    &:hover{
        @extend %hoverr;
    }
}

.img6{
    @extend %tanda1;
    &:hover{
        @extend %hoverr;
    }
   
}

@media (max-width: 800px) {
    img{
        height: 20rem;
        width: 20rem;
    }
}
