%complet{
    
 .div1{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: rgba(128, 128, 128, 0.548);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    
   


 p{
    margin-left: 10%;
    
}
}


img {
    border-radius: 5px;
    border: 2px solid black ;


&:hover{
    transform: translateY(3%);
    cursor: pointer;
}
}
}

//  FIN EXTEND



#section{
    background-color: rgba(128, 128, 128, 0.548);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    margin-top: 10%;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    align-items: center;
    @extend %complet;

}

#sectionn {
    background-color: rgba(128, 128, 128, 0.548);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    align-items: center;
    @extend %complet;
    

}