@media (max-width: 800px) {
    #sueños{
        margin-top: 30%;
    }
    #avion{
        height: 150%;
    }
}


#avion{
    background-color: rgba(128, 128, 128, 0.548);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
}


#sueños{
    background-color: rgba(128, 128, 128, 0.548);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
}