@media (max-width: 800px) {
    
    

    #sueñoss{
        img{
            margin-top: 50%;
        }
    }
    #titulito{
        margin-top: 10%;
    }
}


#avionn{
    margin-bottom: 5%;
    height: 200%;
}


#sueñoss{
    margin-top: 40%;
    img{
        width: 400px;
        border-radius: 50px;
        border: 2px solid black ;
    }
}