

/* Variables */

$principal:#0b0c0d; 
$secondary: #fff;
$font-primary: "Inter", sans-serif;
$font-secondary: "Bowly One SC", cursive;
$third: rgba(246, 233, 233, 0.381);
$font-third: 'Roboto Mono', monospace;
$lyrics: rgb(16, 16, 16);


